@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PiecesOfEight";
    src: url("../assets/fonts/pieces-of-eight.ttf");
}
.font-pieces-of-eight {
    font-family: "PiecesOfEight";
}