<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <link rel="shortcut icon" href="images/logos/hacked-movies-api.png" type="image/x-icon">
    <title>
      Hacked Movies
    </title>
    <link rel="stylesheet" href="css/bootstrap-light.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  </head>
  <body>
    <noscript>
      <strong>
        This is VueJS part, you need to activate JavaScript to see it.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
