<template>
  <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
    <nav id="store" class="w-full z-30 top-0 px-6 py-1">
      <div
        class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3"
      >
        <a
          class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl "
          href="#"
        >
          Store
        </a>

        <div class="flex items-center" id="store-nav-content">
          <a class="pl-3 inline-block no-underline hover:text-black" href="#">
            <svg
              class="fill-current hover:text-black"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
            </svg>
          </a>

          <a class="pl-3 inline-block no-underline hover:text-black" href="#">
            <svg
              class="fill-current hover:text-black"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z"
              />
            </svg>
          </a>
        </div>
      </div>
    </nav>
    <div class="grid grid-cols-4 gap-4">
      <div
        v-for="(movie, movieId) of movies"
        :key="movieId"
        class="max-w-sm rounded overflow-hidden shadow-lg card"
      >
        <router-link
          :to="{ name: 'movie-details', params: movie.slug }"
          class="col-content text-dark"
        >
          <img
            class="w-full object-fit-cover transition duration-500 ease-in-out"
            :src="movie.poster"
            :alt="movie.title_fr"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">
              {{ movie.title }}
              <div>
                {{ movie.id }}
              </div>
            </div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatibus quia, nulla! Maiores et perferendis eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 py-4">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#photography</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#travel</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
              >#winter</span
            >
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'main-content',
  data() {
    return {
      movies: null,
      name: null
    }
  },
  async created() {
    await this.getMovies()
  },
  methods: {
    async getMovies() {
      const baseURI = `${process.env.VUE_APP_API_URL}/api/movies`
      let data = await this.$axios.get(baseURI).catch(function(error) {
        // eslint-disable-next-line no-console
        console.log(error)
      })
      this.movies = data.data
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  &:hover {
    img {
      transform: scale(1.08);
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
  }
}
</style>
