<template lang="html">
  <section class="movie-details">
    <!-- <DetailsComponent v-bind:movieSelect="movieSelect.title_fr"></DetailsComponent>
		<DetailsComponent v-bind:movieSelect="movieSelect.duration"></DetailsComponent> -->
    <DetailsComponent :movieSelect="movieSelect"></DetailsComponent>
  </section>
</template>

<script lang="js">
import DetailsComponent from '@/components/DetailsComponent.vue'

export default {
	name: 'hackedMoviesDetails',
	props: [],
	components: {
		DetailsComponent,
	},
	mounted() {

	},
	data() {
		return {
			movieSelect: Object
		}
	},
	created() {
		this.hackedMoviesDetails()
		this.consoleAlt()
	},
	methods: {
		hackedMoviesDetails: function () {
			let movieId = this.$route.params.movieId;
			const baseURI = `${process.env.VUE_APP_API_URL}/api/movies` + movieId;
			this.$http.get(baseURI)
				.then((result) => {
					this.movieSelect = result.data
					// console.log(this.movieSelect)
				})
			return new Promise((resolve, reject) => {
				setTimeout(() => {
					resolve()
					reject()
				}, 1000);
			});
		},
		consoleAlt() {
			// console.log("promise")
		}
	},
	computed: {

	}
}
</script>

<style scoped lang="scss">
.movie-details {
  margin: 5vh 5vw;
}
</style>
