<template lang="html">
  <section class="list">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img
        class="w-full"
        src="/img/card-top.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >#photography</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >#travel</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
          >#winter</span
        >
      </div>
    </div>
    <!-- <img src="../assets/images/vuejs.png"> -->
    <!-- <img src="../assets/images/logos/hacked-movies-api.png"> -->
    <!-- <div>
		<button v-on:click="fetchUsers">
			Call hacked Movies API
		</button>
    </div> -->
    <div clas="container">
      <div class="row">
        <div
          class="col s2 movie p-2"
          v-for="movieItem of movies"
          v-bind:key="movieItem.id"
        >
          <router-link
            :to="{ path: 'hacked-movies/details/id=' + movieItem.id }"
            class="col-content text-dark"
          >
            <img
              v-bind:src="movieItem.poster"
              alt="movieItem.title_fr"
              class="responsive-img"
            />
            <h5>
              <b>{{ movieItem.title_fr }}</b>
            </h5>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="js">
export default {
	name: 'hackedMoviesList',
	props: [],
	data() {
		return {
			movies: []
		}
	},
	created() {
		this.hackedMoviesList()
	},
	methods: {
		hackedMoviesList: function () {
			const baseURI = `${process.env.VUE_APP_API_URL}/api/movies`
			// eslint-disable-next-line no-console
			console.log(process.env.VUE_APP_API_URL)
			this.$http.get(baseURI)
				.then((result) => {
					this.movies = result.data
					// console.log(result.data)
				})
      }
    }
  }
</script>

<style scoped lang="scss">
.list {
  margin: 5vh 5vw;
}
.movie:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
