<template lang="html">
  <section id="template"></section>
</template>

<script>
export default {
  name: 'Template',
  components: {},
  props: [],
  mounted() {},
  data() {
    return {}
  },
  methods: {},
  computed: {}
}
</script>

<style lang="scss"></style>
