<template lang="html">
  <section id="details-component">
    <div>
      {{ movieSelect.title_fr }}
      {{ movieSelect.title_en }}
      {{ movieSelect.duration }}
    </div>
  </section>
</template>

<script>
export default {
  name: 'DetailsComponent',
  components: {},
  props: {
    movieSelect: Object
  },
  mounted() {},
  created() {
    Object
  },
  data() {
    return {}
  },
  methods: {},
  computed: {}
}
</script>

<style lang="scss"></style>
