<template>
  <div id="app">
    <!-- <Navbar /> -->
    <div
      class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal"
    >
      <navbar></navbar>
      <custom-header type="classic"></custom-header>
      <main-content></main-content>
      <custom-footer></custom-footer>
    </div>
    <!-- <router-view /> -->
  </div>
</template>

<script>
import navbar from './views/navbar'
import customHeader from './views/custom-header'
import mainContent from './views/main-content'
import customFooter from './views/custom-footer'

export default {
  name: 'App',
  components: {
    navbar,
    // eslint-disable-next-line vue/no-unused-components
    customHeader,
    mainContent,
    customFooter
  }
}
</script>

<style lang="scss">
.worksans {
  font-family: 'Work Sans', sans-serif;
}

#menu-toggle:checked + #menu {
  display: block;
}

.hover\:grow {
  transition: all 0.3s;
  transform: scale(1);
}

.hover\:grow:hover {
  transform: scale(1.02);
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #000;
  /*Set to match the Tailwind colour you want the active one to be */
}
</style>
